# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Silicon Laboratories Inc.

name: Silabs upstream daily build

on:
  schedule:
    - cron: "15 5 * * *"

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: zephyrproject-rtos/zephyr
          path: zephyr

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.12

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@360ff9b36e58499d9eb28015cdcde7ca03a5b04d # v1.0.12
        with:
          app-path: zephyr
          toolchains: arm-zephyr-eabi
          west-group-filter: -hal,-tools
          west-project-filter: +hal_silabs,+cmsis.*,-nrf.*,-tf-m-.*,-trusted-firmware-.*,-acpica

      - name: Fetch blobs
        shell: bash
        run: |
          west blobs fetch hal_silabs

      - name: Build Entropy test
        shell: bash
        run: |
          west twister -v --inline-logs -K \
            -s drivers.entropy \
            -p siwx917_rb4338a

      - name: Build Flash test
        shell: bash
        run: |
          west twister -v --inline-logs \
            -s drivers.flash.common.default \
            -p siwx917_rb4338a

      - name: Build DMA test
        shell: bash
        run: |
          west twister -v --inline-logs \
            -s drivers.dma.chan_blen_transfer \
            -p siwx917_rb4338a

      - name: Build Secure Storage samples
        shell: bash
        run: |
          west twister -v --inline-logs -K \
            -s sample.psa.its.secure_storage.entropy_driver \
            -p xg24_rb4187c \
            -p bg29_rb4420a

      - name: Build Bluetooth samples
        shell: bash
        run: |
          west twister -v --inline-logs -K \
            -s sample.bluetooth.peripheral_hr \
            -s sample.bluetooth.observer \
            -p xg27_dk2602a \
            -p siwx917_rb4338a

      - name: Build Wifi samples
        shell: bash
        run: |
          west twister -v --inline-logs -K \
            -s sample.net.wifi \
            -p siwx917_rb4338a
          west twister -v --inline-logs -K \
            -s sample.net.wifi.siwx91x_offloaded \
            -p siwx917_rb4338a
